CMakeCache.txt
Makefile
cmake_install.cmake
install_manifest.txt
CMakeFiles
Build
.idea
ma27-1.0.0.tar.gz
scipoptsuite-3.1.1.tgz
build_master
build/*
build_merge/*
extra/glpk*
examples/smps/cplex.log
examples/dro/cplex.log
