[submodule "extra/CoinUtils"]
	path = extra/CoinUtils
	url = https://github.com/coin-or/CoinUtils.git
[submodule "extra/Smi"]
	path = extra/Smi
	url = https://github.com/kibaekkim/Smi.git
[submodule "extra/OOQP"]
	path = extra/OOQP
	url = https://github.com/emgertz/OOQP.git
[submodule "extra/Clp"]
	path = extra/Clp
	url = https://github.com/coin-or/Clp.git
[submodule "extra/Osi"]
	path = extra/Osi
	url = https://github.com/coin-or/Osi.git
	branch = master
