[submodule "extra/Smi"]
	path = extra/Smi
url=https://github.com/kibaekkim/Smi.git
[submodule "extra/OOQP"]
	path = extra/OOQP
url=https://github.com/emgertz/OOQP.git
[submodule "extra/Alps"]
	path = extra/Alps
url=https://github.com/kibaekkim/CHiPPS-ALPS.git
[submodule "extra/Clp"]
	path = extra/Clp
	url = https://github.com/coin-or/Clp.git
	branch = stable/1.17
[submodule "extra/Osi"]
	path = extra/Osi
url=https://github.com/kibaekkim/Osi.git
	branch = stable/dsp
[submodule "extra/CoinUtils"]
	path = extra/CoinUtils
	url = https://github.com/coin-or/CoinUtils.git
	branch = stable/2.11
